.dropdownContainer {
    text-align: left;
    box-shadow: var(--border);
    position: relative;
    border-radius: 5px;
    padding: 0 .5rem;
  }
  
  .dropdownInput {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    font-size: 1.5rem;
  }
  
  .dropdownMenu {
    position: absolute;
    font-size: 1.5rem;
    width: 100%;
    box-shadow: var(--border);
    border-radius: .5rem;
    overflow: auto;
    background-color: #fff;
    z-index: 1;
  }
  
  .dropdownItem {
    padding: .5rem 1rem ;
    height: 3rem;
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #52525230;
  }
  
  .dropdownItem.selected {
    background-color: #52525250;
    color: #fff;
  }
  
  .dropdownTags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .dropdownTagItem {
    // box-shadow: inset 0 0 0 .2rem #282828;
    background-color: #28282875;
    color: #fff;
    padding: .2rem 1rem;
    border-radius: .2rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
  
  .dropdownTagClose {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    // padding-right: 0;
  }
  
  .searchBox {
    padding: .5rem;
    background-color: #dedede;
    font-size: 1.3rem;
  }
  
  .searchBox input {
    width: 100%;
    box-sizing: border-box;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
  }
  