//importación de estilos globales
@import '../../global.scss';

// estilos generales -----------------------------------------------------------------------------------------------------------------
.ctn_CTeamC, .ctnDark_CTeamC{
    .ctnInfo{
        display: grid; 
        place-items: center; 
        height: 100%;
    }
    .lblColor{
        height: 100%;
        width: 15px;
        position: absolute;
        top: 0;
        right: 0;
    }
    //pop up que se mustra al hacer Hover
    .teamName{
        p{
            padding:5px 0;
        }
        .memberTeam{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 10px;
            position: absolute;
            border-radius: 20px;
            top: 100%;
            width: max-content;
            &:before{
                content:'';
                position: absolute;
                bottom: 99%;
                left:10%;
                width:0;
                height: 0;
                border: none;
                border-right: 13px solid transparent;
                border-left: 13px solid transparent;
                border-top: 13px solid transparent;
            }
            span{
                font-size: 14px;
                margin-bottom: 5px;
            }
            span:nth-child(2n){
                font-size: 14px;
                margin-bottom: 5px;
            }
        }
    }
}

// modo claro --------------------------------------------------------------------------------------------
.ctn_CTeamC{
    .teamName{
        //pop up que se mustra al hacer Hover
        .memberTeam{
            background: #ebebeb;
            box-shadow: var(--boxShadow);
            &:before{
                border-bottom: 26px solid #ebebeb;
            }
        }
        span{
            color: #282828;
        }
        span:nth-child(2n){
            color: #28282875;  
        }
    } 
}
// modo Oscuro --------------------------------------------------------------------------------------------
.ctnDark_CTeamC{
    .teamName{
        h3{
            color: #dedede;
        }
        p{
            color: #dedede75;
        }
        //pop up que se mustra al hacer Hover
        .memberTeam{
            background: #1f1f1f;
            box-shadow: var(--boxShadowDark);
            &:before{
                border-bottom: 26px solid #1f1f1f;
            }
        }
        span{
            color: #dedede;
        }
        span:nth-child(2n){
            color: #dedede75;  
        }
    } 
}

// media queries -------------------------------------------------------------------------------------------


