.tasks
{
    &[have-subtask='subtasks']{
        box-shadow: var(--boxShadow);
        padding: 10px;
        border-radius: 0 20px 20px 20px;
        margin: 0 0 20px 0;
    }
    ::-webkit-datetime-edit { 
        height: 30px; 
    }
    ::-webkit-datetime-edit-fields-wrapper { 
        background: transparent !important; 
        padding: 5px 0 0 5px;
        font-weight: bold ; 
    }
    ::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-day-field,
    ::-webkit-datetime-edit-year-field,::-webkit-datetime-edit-text { 
        color: #000;
    }
    ::-webkit-inner-spin-button { display: none; }
    ::-webkit-calendar-picker-indicator:hover {
        box-shadow: 0 0 0 4px #dedede;
        border-radius: 100px;
    }

    &__icons{
        width: 100%;
        height: auto;
        min-height: 50px;
        margin: 0 auto;
        margin-top: 8px;
        display: flex;
        align-items: center;
        flex-direction: row ;
        flex-wrap: wrap;
        gap: 15px;
        .DatePickerTaskComponent{
            width:126px;
            flex-direction: row-reverse;
            outline: none;

        }
        .InputsTaskContainer{
            position: relative;
            width: auto;
            display: flex;
            align-items: center;
            & input{
                border-radius: 5px ;
                background: transparent;
                border: 2px solid #dedede;
                box-shadow: none !important;
            }
            & input:focus{
                outline: none;
            }
        }
    }
    &__subtareas{
        &:before{
            content: "";
            position: absolute;
            height: calc(70%);
            // height: calc(100% - 135px);
            left: 20px;
            border-left: 2px solid var(--detail);
        }
        &[subtask-simple='simple']:before{
            height: 0 !important;
        }

        &-individual{
            padding-left: 20px;
            &:before{
                content: "";
                position: absolute;
                width: 15px;
                left: 0px;
                height: 75px;
                border-left: 2px solid var(--detail);
                border-bottom: 2px solid var(--detail);
                border-bottom-left-radius: 10px;
            }
        }
    }
    .TextPriorityMenu{
        margin-left: 10px;
        color: #dedede; 
        position: relative;
        z-index: 1;

    }
    .ContainerTaksComponent{
        z-index: 1;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .IconInformationTaskcomponent{
        position: absolute; 
        right: -20px; 
        top: -10px;
    }
}
@media (max-width:390px){
    .ChildrenContainerTaskModules{
        margin-left: 0;
        padding-left: 7px;
    }
}
@media (max-width:768px){
    .ChildrenContainerTaskModules{
        margin-left: 0;
        padding-left: 7px;
    }
}
.ButtonAddTaskComponent:hover{
    color: #dedede;
}