@import '../../../global.scss';

.ctn_CMTasks{
    .gnrlCtn{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .infoCtn{
        height: 75%;
        display: flex;
        justify-content: center ;
        align-items: center;
        flex-direction: column;
    }
}