// Estilos globales
@import '../../global.scss';

// ---------------------------------------------------------------------------------------------------------
//      estilos generales
// ---------------------------------------------------------------------------------------------------------
// generales
.ctnLightCmts_TWCC,
.ctnDarkCmts_TWCC,
.ctnLightnoCmts_TWCC,
.ctnDarknoCmts_TWCC
{
    div{
        p{
            margin: 5px 0 0 10px  ;
        }
    }
    .taskNameCheck{
       text-decoration: line-through;
       color: #28282875; 
    }
    .taskNameIncompleted{
        text-decoration: none;
        color: #282828;  
    }
    .subtaskCtn{
        margin: 10px 0 50px 10px;
        height: 100%;
        min-height: 85%;
        .subtasksElementsCheck, 
        .subtasksElementsIncompleted
        {
            margin-block: 0;
            height: auto;
            overflow: hidden;
            margin-bottom: 10px;
            color: #28282875;
        }
        .subtasksElementsCheck{
            text-decoration:line-through;
        }
        .subtasksElementsIncompleted{
            text-decoration:none;
        }
    }
    .ttlComents{
        height: 30px;
        box-shadow: var(--boxShadow);
        background: #fff;
        position: sticky;
        top: 0;
        width: 100%;
    }
    .ctnComents{
        height: 100% !important;
        min-height: 85%;
    }
    div {
        height: 50%;
        max-height: 50%;
        // background: blue;
        overflow-y: hidden;
        .ctnComents{
            overflow-y: auto;
        }
        .comentCtn,
        .comentCtnPersonal
        {
            height: auto;
            width: 90%;
            // padding: 10px;
            margin: 10px 0 0 0;
            border-radius: 10px;
            overflow: hidden;
            // background: var(--aqua);
            .userName{
                font-weight: bold;
                // color: #fff;
                color: #000;
                margin-bottom: 5px;
                font-size: 12px;
            }
            p:not(.userName){
                // color: #dedede;
                color: #000;
                line-height: 1.5;
                font-size: 14px;
            }
        }
        .comentCtn{
            border-top-left-radius: 0;
            .userName{
                // color: #fff;
                color: #000;
            }
            p:not(.userName){
                // color: #fff;
                color: #000;
            }
        }
        .comentCtnPersonal{
            background: var(--aquaContrast);
            margin-right: 0;
            margin-left: auto;
            border-top-right-radius: 0;
            .userName{
                color: #fff;
            }
            p:not(.userName){
                color: #dedede;
            }
        }
    }
}
// con comentarios
.ctnLightCmts_TWCC,
.ctnDarkCmts_TWCC
{
    height: 100%;
    max-height: 100%;
    // background: blue;
    div{
        max-height: 50%;
        height: 50%;
        overflow: auto;
    }
}
// sin comentarios
.ctnLightnoCmts_TWCC,
.ctnDarknoCmts_TWCC
{
    height: 100%;
    max-height: 100%;
    // background: red;
    div{
        max-height: 50%;
        height: 50%;
    }
}

// ---------------------------------------------------------------------------------------------------------
//      modo claro
// ---------------------------------------------------------------------------------------------------------
.ctnLightCmts_TWCC,
.ctnLightnoCmts_TWCC
{

}

// ---------------------------------------------------------------------------------------------------------
//      modo oscuro
// ---------------------------------------------------------------------------------------------------------
.ctnDarkCmts_TWCC,
.ctnDarknoCmts_TWCC
{

}

// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
// tablet
@media (max-width:834px){
    .ctnLightCmts_TWCC,
    .ctnDarkCmts_TWCC,
    .ctnLightnoCmts_TWCC,
    .ctnDarknoCmts_TWCC
    {
    }  
} 
// celular
@media (max-width:415px){
    .ctnLightCmts_TWCC,
    .ctnDarkCmts_TWCC,
    .ctnLightnoCmts_TWCC,
    .ctnDarknoCmts_TWCC
    {
    }  
} 