.cardCampaign{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    min-width: calc(100vw / 4 - 30px);
    max-width: calc(100vw / 4 - 30px);
    position: relative;
    cursor: pointer;
    background: var(--bg);
    box-shadow: var(--boxShadow);
    &__header{
        display:flex;
        align-items: center;
        justify-content: space-between;
        &-percent{
            position: relative !important;
            &-text{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                font-size: 12px;
            }
        }
    }
    &__contenido{
        display: flex; 
        gap: 20px; 
        margin-top: 20px; 
        flex-wrap: wrap;
        &-medios{
            display: flex; 
            flex-direction: column; 
            align-items: center;
            &-percent{
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
}