.ContainerInfoComponent{
    margin-left: .5rem;
    position: relative;
    cursor: pointer;
    margin-block: 0;
}

.ContainerIconInfoComponent{
    position: absolute;
    font-weight: bold;
    left: 50%;
    top: 50%;
    color: #fff;
    transform: translate(-50%,-50%);
}
.PopUpInfoComponent{
    position: absolute;
    min-width: 10rem;
    min-height: 10rem;
    width: auto;
    height: auto;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    color: #fff;
}
.ContentInfoComponent{
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: lighter;
}