registry=https://registry.npmjs.org/
@guapuken:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
# //npm.pkg.github.com/:_authToken=${NPM_TOKEN}
# //npm.pkg.github.com/:_authToken=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