registry=https://registry.npmjs.org/
@guapuken:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
# //npm.pkg.github.com/:_authToken=${NPM_TOKEN}
# //npm.pkg.github.com/:_authToken=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