registry=https://registry.npmjs.org/
@guapuken:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
# //npm.pkg.github.com/:_authToken=${NPM_TOKEN}
# //npm.pkg.github.com/:_authToken=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