.ctn_Txts{
    font-weight: 400;
    position: relative;
    line-height: 1.4;
    // Se utilizan para establecer el número máximo de líneas que se verán
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
    color: var(--fc30) !important;
    font-weight: var(--fw400) !important;
}