html {
  font-size: 62.5%;
}
button{
  background: transparent;
  border-radius: 2rem;
  padding: .5rem 2rem;
  font-weight: bold;
  border: none;
  box-shadow: inset 0 0 0 .2rem #282828;
  &:hover{
    box-shadow: none;
    background-color: #282828;
    color: #fff;
  }
  &:active{
    box-shadow: inset 0rem 0rem 0 .2rem blue;
    background: transparent;
    color: blue;
  }
}