@import '../../../../global.scss';

.ctn_TxtBtn{
    position: relative;
    padding: 5px;
    border-radius: 5px;
    width: auto;
    text-align: center;
    cursor: pointer;
    background: var(--bg)!important;
    color: var(--fc30)!important;
    font-weight: var(--fw300)!important;
    &:hover{
        color: var(--fc90 )!important;
        box-shadow: var(--border)!important;
    }
}