@import '../../../../global.scss';
// root iniciales
:root{
    --bgModal: var(--bg);
    --sombra: var(--boxShadow); 
    --width: 50vw;
}

// temas _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
[theme-config='Dark']{
    --bgModal: var(--bgDark);
    --sombra: var(--boxShadowDark);
}
[theme-config='Light']{
    --bgModal: var(--bg);
    --sombra: var(--boxShadow);
}

// estilos _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
[theme-style='Fw']{
    --width : 100vw;
}

//variables _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
$altura: 100vh;

.modal
{
    background: var(--bgModal);
    box-shadow: var(--sombra);
    position: fixed;
    left: 50%;
    top: 0;
    width:var(--width);
    transform: translateX(-50%);
    height: $altura;
    max-height: $altura;
    margin: 0 auto;

    // estilos del header
    &__header{
        display: flex;
        justify-content: space-between;
        height: 6vh;
        display: flex;
        align-items: center;
        box-shadow: inset 0 0 0 2px red;
        &-title{
            margin-block: 0; 
            font-weight: lighter; 
            margin-left: 20px;
        }
        &-img{
            height: 30px;
            padding-right: 15px; 
            cursor: pointer;
        }
    }

    // estilos del children
    &__children{
        padding-top: 2.5vh;
        height: calc($altura - 5vh);
        overflow-y: auto;
        width: 90%;
        overflow-x: hidden;
        margin: 0 auto;
        &[ctn-header='header'],&[ctn-footer='footer']{
            height: calc(86vh - 40px);
        }
        &[ctn-header='header']{
            height: calc($altura - 10vh);
        }
        &[ctn-footer='footer']{
            height: 86vh;
        }
    }
    // estilos del footer
    &__footer{
        width: 100%;
        padding: 20px;
        height: 14vh;
    }
}
// estilos del modal sin propiedades
.modal__noCtn{
    display: grid;
    place-items: center;
    width: 100%;
    height:$altura;
}

// media queries _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
@media (max-aspect-ratio: 4/3){ // tabletas
    :root{
        --width: 100vw;
    }
}
@media (max-aspect-ratio: 7/10){ // dispositivos móviles
    :root{
        --width: 100vw;
    }
}