@import '../../../../global.scss';
// root iniciales
:root{
    --width: 50vw;
    --gridRowsDisplay: 50px auto 80px;
    --gridColumnsDisplay: auto;
    --gridColumnHeader: auto;
}

// temas _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-


// temas de estilos _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
[theme-style='box']{
    --gridColumnHeader: 1/3;
    --width : 100vw;
    --gridRowsDisplay: 50px auto;
    --gridColumnsDisplay: auto 80px;
}

//variables _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
$altura: 90vh;

//clases _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
.modal
{
    // centrado del elemento
    position: fixed;
    left: 50%;
    bottom: 0;

    background: var(--bg);
    box-shadow: var(--boxShadow);
    width:var(--width);
    transform: translateX(-50%);
    height: $altura;
    max-height: $altura;
    // creación de grid
    display: grid;
    grid-template-rows: var(--gridRowsDisplay);
    grid-template-columns: var(--gridColumnsDisplay);
    gap: 10px;
    z-index: 3;

    // estilos del header
    &__header, &__children, &__footer{
        width: 100%;
        padding: 15px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        grid-column: var(--gridColumnHeader);
        &-title{
            font-weight: lighter; 
        }
        &-img{
            height: 30px;
            cursor: pointer;
        }
    }

    // estilos del children
    &__children{
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    // estilos del footer
    &__footer{
        //
    }
}
// estilos del modal sin propiedades
.modal__noCtn{
    display: grid;
    place-items: center;
    width: 100%;
    height:$altura;
}

// media queries _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
@media (max-aspect-ratio: 4/3){ // tabletas
    :root{
        --width: 100vw;
    }
}
@media (max-aspect-ratio: 7/10){ // dispositivos móviles
    :root{
        --width: 100vw;
    }
}