@import '../../global.scss';

// ---------------------------------------------------------------------------------------------------------
//      Estilos generales 
// ---------------------------------------------------------------------------------------------------------
.ctnWhiteVisDark_ATC,
.ctnWhiteVisLight_ATC,
.ctnVisLight_ATC,
.ctnVisDark_ATC,
.ctnWhiteLight_ATC,
.ctnWhiteDark_ATC,
.ctnLight_ATC,
.ctnDark_ATC
{
    position: relative;
    margin-block: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    height: calc(92vh);
    width: 25%;
    .children {
        display: grid;
        place-items: center;
        width: 95%;
        height: 95%;
        h2{
            font-weight: bold;
        }
        p{
            font-weight: lighter;
            opacity: .5;
        }
    }
    .noCtn{
        display: grid;
        place-content: center; 
        text-align: center;
        width: 100%;
    }
}
//colores de fondo en caso de no tener la propiedad isWhite
.ctnVisLight_ATC
{
    background: var(--bgDark);
    color: #fff;
}
//colores de fondo en caso de no tener la propiedad isWhite
.ctnLight_ATC{
    background: var(--bgDark);
}
// //colores de fondo en caso de estar activado el modo oscuro
.ctnDark_ATC{
    background: var(--contrastDark);
}
.ctnDark_ATC
{
    background: var(--bgDark);
}

// ---------------------------------------------------------------------------------------------------------
//      Estilos generales 
// ---------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------
//      Estilos generales 
// ---------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------
//      media queries 
// ---------------------------------------------------------------------------------------------------------
@media (min-width:768px) and (max-width:1024px){
    .ctnWhiteVisLight_ATC,
    .ctnWhiteVisDark_ATC,
    .ctnVisLight_ATC,
    .ctnVisDark_ATC
    .ctnWhiteLight_ATC,
    .ctnWhiteDark_ATC,
    .ctnLight_ATC,
    .ctnDark_ATC
    {
        width: 50%;
    } 
}
@media (max-width:767px){
    .ctnWhiteVisLight_ATC,
    .ctnWhiteVisDark_ATC,
    .ctnVisLight_ATC,
    .ctnVisDark_ATC
    .ctnWhiteLight_ATC,
    .ctnWhiteDark_ATC,
    .ctnLight_ATC,
    .ctnDark_ATC
    {
        width: 100%;
        height: calc(100vh /4);
        .children {
            height: 92%;
        }
    }
}