//contenedor princiapal --------------------------------------------
.ctnWhiteLight_ATC,
.ctnWhiteDark_ATC,
.ctnLight_ATC,
.ctnDark_ATC
{
    position: relative;
    margin-block: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    height: calc(92vh);
    background: transparent;
    width: calc(var(--cardWidth)*.95);
    //sin contenido--------------------------------------------------
    .noCtnDark, .noCtnLight{
        display: grid;
        place-content: center; 
        text-align: center;
        margin-top: -10px;
        max-width: 70%;
    }
    .noCtnDark{
        color: #fff;
    }
}
//colores de fondo en caso de no tener la propiedad isWhite
.ctnLight_ATC{
    background: var(--bgDark);
}
//colores de fondo en caso de estar activado el modo oscuro
.ctnDark_ATC{
    background: var(--contrastDark);
}


//mediaquerie para que el tamaño del texto abarque todo el espacio en celular
@media (max-width:415px){
    .ctnDark_ATC,
    .ctnWhite_ATC,
    .ctn_ATC{
        width: calc(var(--cardSize)*4);
        height: var(--cardHeight);
    }
}
@media (max-width:834px){
    .ctnDark_ATC,
    .ctnWhite_ATC,
    .ctn_ATC{
        width: calc(var(--cardWidth)*1.95);
        height: calc(var(--cardHeight)*4);
    }
}