//contenedor princiapal --------------------------------------------
.ctnDark,
.ctnWhite,
.ctn{
    position: relative;
    margin-block: 0;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    height: calc(92vh - 2rem);
    background: transparent;
    width: calc(var(--cardWidth)*.95);
}
//colores de fondo en caso de no tener la propiedad isWhite
.ctn{
    background: var(--bgDark);
}
//colores de fondo en caso de estar activado el modo oscuro
.ctnDark{
    background: var(--contrastDark);
}

//sin contenido-----------------------------------------------------
.noCtnDarkDark, .noCtnDark{
    display: grid;
    place-content: center; 
    text-align: center;
    margin-top: -1rem;
    max-width: 70%;
}
.noCtnDarkDark{
    color: #fff;
}
//mediaquerie para que el tamaño del texto abarque todo el espacio en celular
@media (max-width:415px){
    .ctnDark,
    .ctnWhite,
    .ctn{
        width: calc(var(--cardSize)*4);
        height: var(--cardHeight);
    }
}
@media (max-width:834px){
    .ctnDark,
    .ctnWhite,
    .ctn{
        width: calc(var(--cardWidth)*1.95);
        height: calc(var(--cardHeight)*4);
    }
}