@import '../../../global.scss';

// ---------------------------------------------------------------------------------------------------------
//      estilos generales
// ---------------------------------------------------------------------------------------------------------
.autoresizeInput
{
  border-radius: 0;
  border: none;
  resize: none;
  transition: border-color 150ms ease;
  width: 100%;
  margin-block: 0;
  background: transparent;
  &:focus {
    outline: none;
  }
  &::placeholder {
    font-weight: normal;
    color: var(--fc30);
  }
  // estilos de una tarea principal
  &[hrc-inpt='principal']{
    font-weight: normal;
    color: var(--fc90);
  }
  // estilos de una tarea normal
  &[hrc-inpt='task']{
    color: var(--fc90);
    font-weight: normal;
  }
  // estilos de una subtarea
  &[hrc-inpt='subtask']{
    font-weight: normal;
    color: var(--fc30);
  }
}
// ---------------------------------------------------------------------------------------------------------
//      modo claro
// ---------------------------------------------------------------------------------------------------------
// .ctnLight_AIPTC
// {
//   color: #525252;
//   &::placeholder {
//     color: #c6c6c6;
//   }
// }

// // ---------------------------------------------------------------------------------------------------------
// //      modo oscuro
// // ---------------------------------------------------------------------------------------------------------
// .ctnDark_AIPTC
// {
//   color: #dedede;
//   &::placeholder {
//     color: #c6c6c675;
//   }
// }
// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
@media (min-width:768px) and (max-width:1024px){}
@media (max-width:767px){}