@import '../../../global.scss';

// ---------------------------------------------------------------------------------------------------------
//      estilos generales
// ---------------------------------------------------------------------------------------------------------
// .ctnLight_AIPTC, // aspect-ratio: 16:9
// .ctnDark_AIPTC
.ctn_AIPTC
{
  border-radius: 0;
  border: none;
  resize: none;
  transition: border-color 150ms ease;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  margin-block: 0;
  background: transparent;
  font-size: clamp(12px,3.2vh,32px);
  &:focus {
    outline: none;
  }
  &::placeholder {
    font-weight: normal;
  }
  // estilos de una tarea principal
  &[hrc-inpt='principal']{
    font-size: clamp(15px,1.7vw,35px);
    font-weight: normal;
  }
  // estilos de una tarea normal
  &[hrc-inpt='task']{
    font-weight: normal;
    font-size: clamp(13px,1.5vw,33px);
    opacity: .8 ;
  }
  // estilos de una subtarea
  &[hrc-inpt='subtask']{
    font-weight: normal;
    font-size: clamp(12px,1.4vw,32px);
    opacity:.5; 
  }
  &.Light{
    background: var(--bg);
    &::placeholder {
          color: #fb2525;
        }
  }
  &.Dark{
    background: var(--bg-dark);
    &::placeholder {
          color: #15cc2575;
        }
    
  }
}
// ---------------------------------------------------------------------------------------------------------
//      modo claro
// ---------------------------------------------------------------------------------------------------------
// .ctnLight_AIPTC
// {
//   color: #525252;
//   &::placeholder {
//     color: #c6c6c6;
//   }
// }

// // ---------------------------------------------------------------------------------------------------------
// //      modo oscuro
// // ---------------------------------------------------------------------------------------------------------
// .ctnDark_AIPTC
// {
//   color: #dedede;
//   &::placeholder {
//     color: #c6c6c675;
//   }
// }
// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
@media (min-width:768px) and (max-width:1024px){}
@media (max-width:767px){}