@import '../../global.scss';

/// ---------------------------------------------------------------------------------------------------------
//      estilos generales
// ---------------------------------------------------------------------------------------------------------

:root{
    --sombraCard: #dedede;
}

[theme-config='Dark']{
    --sombraCard: #00000075;
}

.card
{ 
/*     .detalleCardInf, .detalleCardSup{
        position: absolute !important;
        width: 20px;
        height: 20px;
    }
    .detalleCardSup{
        border-right: 3px solid var(--detailColor);
        border-top: 3px solid var(--detailColor);
        border-top-right-radius: 7px;
        right: 10px;
        top: 10px;
    }
    .detalleCardInf{
        // background: red;
        border-left: 3px solid var(--detailColor);
        border-bottom: 3px solid var(--detailColor);
        border-bottom-left-radius: 7px;
        left: 10px;
        bottom: 10px;
    } */
    position: relative; 
    background: var(--bg);
    width: calc(100vw / 4 - 20px);
    max-height: calc(35vh - 20px);
    height: auto;
    box-shadow: var(--boxShadow);
    &[contenido-card='sinContenido']{
        display: grid;
        place-content: center; 
        height: 25vh;
    }
    &[card-style='redondeada']{
        border-radius: 20px;
    }
    &[aside-element='aside']{
        .card__contenido{
            grid-template-columns: auto 50px;
        }
    }
    &__contenido{
        display: grid;
        height: 100%;
        &-children{
            width: 100%;
            height: 100%;
            position: relative;
            margin: auto;
        }
        &-aside{
            height: 100%;
            box-shadow: -15px 0px 21px -12px var(--sombraCard);
            -webkit-box-shadow: -15px 0px 21px -12px var(--sombraCard);
            -moz-box-shadow: -15px 0px 21px -12px var(--sombraCard);
            width: 50px;
            margin: auto;
            display: flex;
            &-children{
                margin: auto;
                width: 30px;
                height: calc(100% - 20px);
            }
        }
    }
}
/// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
@media (max-aspect-ratio: 4/3){ // relación aspecto con dispositivos mayores a móviles tales como tablets
    .card
    {
        width: calc(100vw / 2 - 20px);
    } 
}

@media (max-aspect-ratio: 7/10){ // Relación aspecto de dispositivos móviles
    .card
    {
        width: calc(100vw - 20px);
    }
}