//contenedor general ------------------------------------------------
.contenedor,.contenedorDark{
    display: grid;
    place-content: center;
}
.contenedor{
    background: #fff;
    box-shadow: var(--boxShadow);
}
.contenedorDark{
    background: var(--bgDark);
    box-shadow: var(--boxShadowDark);
    h3, p{
        color: #fff;
    }
}
