
/// ---------------------------------------------------------------------------------------------------------
//      estilos generales
// ---------------------------------------------------------------------------------------------------------

:root{
    --sombraCard: #dedede;
    --cardSize: calc(100vw / 4 - 20px);
    @media (max-aspect-ratio: 4/3){
        --cardSize: calc(100vw / 2 - 20px);
    }
    @media (max-aspect-ratio: 7/10){
        --cardSize: calc(100vw - 20px);
    }
}

[theme-config='Dark']{
    --sombraCard: #00000075;
}

.card
{ 
    position: relative; 
    background: var(--bg);
    width: var(--cardSize);
    height: 100%;
    max-height: calc(50vh - 20px) ;
    box-shadow: var(--boxShadow);
    &[contenido-card='sinContenido']{
        display: grid;
        place-content: center; 
        height: 25vh;
    }
    &[card-style='redondeada']{
        border-radius: 20px;
    }
    &[aside-element='aside']{
        .card__contenido{
            grid-template-columns: auto 50px;
        }
    }
    &__contenido{
        display: grid;
        height: 100%;
        &-children{
            width: 100%;
            height: 100%;
            position: relative;
            margin: auto;
        }
        &-aside{
            height: 100%;
            box-shadow: -15px 0px 21px -12px var(--sombraCard);
            -webkit-box-shadow: -15px 0px 21px -12px var(--sombraCard);
            -moz-box-shadow: -15px 0px 21px -12px var(--sombraCard);
            width: 50px;
            margin: auto;
            display: flex;
            &-children{
                margin: auto;
                width: 30px;
                height: calc(100% - 20px);
            }
        }
    }
}
/// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
@media (max-aspect-ratio: 4/3){ // relación aspecto con dispositivos mayores a móviles tales como tablets
    .card
    {
        width: calc(100vw / 2 - 20px);
    } 
}

@media (max-aspect-ratio: 7/10){ // Relación aspecto de dispositivos móviles
    .card
    {
        width: calc(100vw - 20px);
    }
}