// estilos globales
@import '../../global.scss';

// ---------------------------------------------------------------------------------------------------------
//      estilos generales
// ---------------------------------------------------------------------------------------------------------
.ctn_CProjectC{
    .title{
        // display: flex;
        // justify-content: space-between;
        max-width: 100%;
        .ctnBtns{
            display:flex;
            justify-content: right;
            padding-top: 10px;
        }
        .ttlProject{
            margin: 10px 0;
        }
    }
    .ftr{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%; 
    }
}

// ---------------------------------------------------------------------------------------------------------
//      modo claro
// ---------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------
//      modo oscuro
// ---------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
