// estilos globales

// ---------------------------------------------------------------------------------------------------------
//      estilos generales
// ---------------------------------------------------------------------------------------------------------
.ctn_CProjectC{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .infoCtn{
        height: 75%;
    }
    .title{
        max-width: 100%;
        
        .ttlProject{
            margin: 10px 0 5px 0;
        }
    }
    .ctnEjecutivoBtns{
        display: flex;
        
    }
    .ftr{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%; 
        .progress{
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
    .ctnBtns{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -20px;
            right: -60px;
            padding: 10px;
            border-radius: 15px;
            background: #fff;
            box-shadow: var(--boxShadow);
        }
}

// ---------------------------------------------------------------------------------------------------------
//      modo claro
// ---------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------
//      modo oscuro
// ---------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
