
// ---------------------------------------------------------------------------------------------------------
//      Estilos generales
// ---------------------------------------------------------------------------------------------------------
// .ctnLight_DNDC,
// .ctnDark_DNDC
.ctn_DNDC
{
    margin: 8px; 
    border: 1px solid lightgrey; 
    border-radius: 2px;
    .taskItem,
    .taskItemDrag
    {
        box-shadow: 0 0  10px #dedede;
        padding: 8px;
        margin-bottom: 8px;
        border-radius: 5px;
        user-select: none;
        display: flex;
    }
    .hndlElement{
        width: 30px;
        height: 30px;
        background: orange;
        margin-right: 20px;
        border-radius: 5px;
    }
    .taskItem{
        background: #fff;
    }
    .taskItemDrag{
        background: #4BEB5F;
    }
    // ---------------------------------------------------------------------------------------------------------
//      modo claro
// ---------------------------------------------------------------------------------------------------------
&.Light{
    background: var(--bg);
}
// ---------------------------------------------------------------------------------------------------------
//      modo oscuro
// ---------------------------------------------------------------------------------------------------------
&.Dark{
    background: var(--bgDark);
}

}





// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
