.ctn_CTC
{
    width: 300px;
    height: auto;
    max-height: 75vh;
    overflow: auto;
    border-radius: 20px;
    position: relative;
    padding: 0 10px;
    h2{
        font-weight: bold;
        margin-bottom: 5px;
        position: sticky;
        top: 0;
        background: #fff;
        padding: 10px 20px;
        z-index: 2;
        font-size: clamp(15px, 1.7vw, 25px );
    }
    .comments,
    .commentsPersonal{
        margin: 5px;
        margin-top: 10px;
        padding: 0 10px;
        z-index: -1;
        // usuario y comentario
        .comment, 
        .user
        {
            font-size: 14px;
        }
        // nombre ddel usuario
        .user{
            font-weight: bold;
            user-select: none;
            opacity: .3;
        }
        // comentario del usuario
        .comment{
            line-height: 1.5;
        }
        // cuerpo del comentario con su fecha de creación
        .comment, 
        .dateAndTime
        {
            margin-left: 10px;
            font-weight: normal;
        }
        // fecha de creación del comentario 
        .dateAndTime{
            font-size: 12px;
            opacity: .5;
            user-select: none;
        }
    }

    //Estilos de un mensaje personal
    .commentsPersonal{
        text-align: right;
        .comment,
        .dateAndTime
        {
            margin: 0 10px 0 0;
        }
    }
// ---------------------------------------------------------------------------------------------------------
//      modo claro
// ---------------------------------------------------------------------------------------------------------
    &.Light{
        background: var(--bg);
        box-shadow: var(--boxShadow);
        h2{
            background: var(--bg);
            color: var(--bgDark);
        }
        .comments,
        .commentsPersonal{
            color: var(--bgDark);
        }
    }
// ---------------------------------------------------------------------------------------------------------
//      modo oscuro
// ---------------------------------------------------------------------------------------------------------
    &.Dark{
        background: var(--bgDark);
        box-shadow: var(--boxShadowDark);
        h2{
            background: var(--bgDark);
            color: var(--fcDark);
        }  
        .comments,
        .commentsPersonal{
            color: var(--fcDark);
        }
    }
}

// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
//tablet
@media (max-width:834px){
    .ctnLight_CTC,
    .ctnDark_CTC{

    }
}
//cel
@media (max-width:415px){
    .ctnLight_CTC,
    .ctnDark_CTC{
        
    }
}