.cardTask {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    &__contenido{
        padding: 15px 8px;
        margin-bottom: 5px;
        &.dndCard{
            padding-left: 50px;
        }
    }
    &__footer{
        display: grid;
        grid-template-columns: auto 140px;
        gap: 15px;
        align-items: center;
        margin-bottom: 15px;
        &-button{
            box-shadow: inset 0 0 0 2px var(--detail);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: calc(100% - 15px);
            text-align: center;
            margin-block: 0 !important;
            border-radius: 5px 10px 5px 10px;
            font-size: clamp(10px, 1.2vw, 13px) !important;
            color: var(--fc60);
            &:hover{
                background: var(--detail);
            }
        }
    }
}

// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
@media (max-aspect-ratio: 4/3){
    .cardTask {
        &__contenido{
            &.dndCard{
                padding-left: 8px;
            }
        }
        &__footer{
            // grid-template-columns: auto 140px;
            padding-right: 10px;
        }
    }

}
@media (max-aspect-ratio: 7/10){

}
