._GTL_counter{
    position: absolute;
    top: -10px;
    right: -10px;
    background: inherit;
    padding: 3px 8px;
    border-radius: 20px;
    font-weight: 700;
    color: inherit;
    box-shadow: inherit;
}