.avatar{
    width: clamp(30px,3vw,50px);
    height: clamp(30px,3vw,50px);
    border-radius: clamp(30px,3vw,50px);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background: var(--fc60);
    display: flex;
    justify-content: center;
    align-items: center;
    &__iniciales{
        font-size: clamp(15px, 5vh, 20px) !important;
        color: #fff !important;
    }
}