

.chat
{
    height: 90vh;
    overflow: hidden;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: var(--bg);
    &__selectChat{
        margin-bottom: 10px;
    }
    &__identificacion{
        margin-bottom: 10px;
    }
    &__iconOpenClose{
        display: none;
    }
    
}


// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
@media (max-aspect-ratio: 4/3){ // relación aspecto con dispositivos mayores a móviles tales como tablets
   .chat{
    &[open-chat='close']{
        .chat__contenedor{
            display: none;
        }
    }
    &[open-chat='open']{
        .chat__contenedor{
            display: block;
            position: fixed;
            bottom:0;
            left:0;
            width: 100vw;
            height: 90vh;
        }
    }
    &__iconOpenClose{
        position: absolute;
        background: red;
        border-radius: 50px;
        display: block;
        height: 50px;
        width: 50px;
        position: absolute;
        right: 0;
        top: 0;
        img{
            width: 30px;
            height: 30px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }
    // width: 50vw;
    .msn_text{
        &:before{
            bottom: 30px !important;
        }
    }
   }
}
@media (max-aspect-ratio: 7/10){ // Relación aspecto de dispositivos móviles
    .ctn_ChC{
     width: 100vw;
     .msn_text{
        &:before{
            bottom: 25px !important;
        }
    }
    }
}