@import '../../../global.scss';
// ---------------------------------------------------------------------------------------------------------
//      Estilos generales
// ---------------------------------------------------------------------------------------------------------

.ctn_ChC
{
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    width: calc(100vw / 4 - 50px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    .ctnDropdown{
        margin-bottom: 10px;
    }
    .ttlChat{
        margin-bottom: 20px;
    }
// ---------------------------------------------------------------------------------------------------------
//      modo claro
// ---------------------------------------------------------------------------------------------------------
    &.Light{
        background: var(--bg);
        .ctnDropdown, .ttlChat{
            color: var(--bgDark);
        }
    }
// ---------------------------------------------------------------------------------------------------------
//      modo oscuro
// ---------------------------------------------------------------------------------------------------------
    &.Dark{
        background: var(--bgDark);
        .ctnDropdown, .ttlChat{
            color: var(--fcDark);
        }
    }
}


// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
@media (max-aspect-ratio: 4/3){ // relación aspecto con dispositivos mayores a móviles tales como tablets
   .ctn_ChC{
    width: 50vw;
    .msn_text{
        &:before{
            bottom: 30px !important;
        }
    }
   }
}
@media (max-aspect-ratio: 7/10){ // Relación aspecto de dispositivos móviles
    .ctn_ChC{
     width: 100vw;
     .msn_text{
        &:before{
            bottom: 25px !important;
        }
    }
    }
}