@import '../../../../global.scss';

.timelineProject{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    padding: 20px;
    overflow: hidden;
    &__header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        &-logo{
            height: 10vh;
        }
    }
    &__infoProject{
        margin: 15px 0;
    }
    &__contenido{
        // max-height: 80vh;
        overflow: auto;
        display: grid;
        grid-template-columns: 30% 70%;
        &-timeline{
            max-height: 70vh;
            display: flex;
            flex-direction: column;
            overflow-y: auto !important;
        }
        &-medios{
            overflow: auto !important;
            max-height: 70vh;
            // max-height: 80vh;
            &-individual{
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                width: 100%;
                padding-bottom: 15px;
                box-shadow: 0px 15px 15px -10px #dedede;
                &-medio{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;
                    user-select: none;
                    //safiri
                    -webkit-user-select: none;
                }
            }
        }
    }
}