@import '../../../../global.scss';

.ctnGeneral_TimelineProject{
    .header_TimelineProject{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .projectName_TimelineProject{
        margin: 15px 0;
    }
    .CtnContenido_TimelineProject{
        display: grid;
        grid-template-columns: 30% 70%;
        .CtnMediosGenerales_TimelineProject{
            overflow: auto !important;
            max-height: 80vh;
        }
        .CtnMedios_TimelineProject{
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            width: 100%;
            padding-bottom: 15px;
            box-shadow: 0px 15px 15px -10px #dedede;
        }
        .CtnMedio_TimelineProject{
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            user-select: none;
            //safiri
            -webkit-user-select: none;
        }
    }
}