@import '../../../../global.scss';

.ctn_Ttls{
    position: relative;
    line-height: 1.4;
    // Se utilizan para establecer el número máximo de líneas que se verán
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
    font-weight: var(--fw700) !important;
    color: var(--fc90) !important;
}