
#FloatLabelInput {
    display: flex;
    flex-direction: column;
    // min-width: 350px;
    position: relative;
  }
  
  #FloatLabelInput input {
    width: 100%;
    // height: 56px;
    height: 3rem;
    // padding: 14px 16px 0 10px;
    padding: 1rem 0 0 1rem;
    outline: 0;
    // border: 1px solid #ddd;
    // border: .2rem solid #dedede;
    box-shadow: inset 0 0 0 .2rem  #dedede;
    border: none;
    // border-radius: 4px;
    border-radius: .5rem;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    // font-size: 16px;
    font-size: 1.4rem;
  }
  
  #FloatLabelInput label {
    // font-size: 1.3rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    // padding: 0 12px;
    padding-left: 1rem;
    color: #999;
    pointer-events: none;
    position: absolute;
    // transform: translate(0, 26px) scale(1);
    // transform: translate(0, 1.5rem) scale(1);
    transform: translate(0, .5rem) scale(1);
    transform-origin: top left;
    transition: all 0.2s ease-out;
  }
  #FloatLabelInput:focus-within label {
    // transform: translate(0, 12px) scale(0.75);
    transform: translate(0, .1rem) scale(0.75);
  }
  #FloatLabelInput .ActiveInputLabelIsActive {
    //   transform: translate(0, 12px) scale(0.75);
      transform: translate(0, 0rem) scale(0.75);
}