.SwitchNotification {
  position: relative ;
  display: block ;
  width: 50px ;
  height: 30px ;
  cursor: pointer;
}
.SwitchNotificationInput {
  display: none;
}
.SwitchNotificationLabel {
  cursor: pointer;
  border: none;
  border-radius: 34px;
  height: 3rem ;
  width: 5rem;
  display: block;
  box-shadow: inset 0 0 0 .2rem #282828;
  transition: all ease .5s;

  svg{
    position: absolute;
    top: .2rem ;
    left: 0;
    height: 2.5rem;
    width: auto;
  }
}
.SwitchNotificationInput:checked + .SwitchNotificationLabel {
  background-color: #282828;
  box-shadow: inset 0 0 0 .2rem #282828;
  transition: all ease .5s;
  svg{
    left: 2.2rem;
  }
}