.optionmenu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border: 1px solid #000000;
}

.datosConCategoria {
  font-weight: bold;
  font-size: 1.2rem;

}

.datosConCategoria li a,
.datosSinCategoria li a {
text-align: center;
  color: #333;
}

.menusContainerMenuComponent{
  text-align: left;
  color: #fff;
  margin-top: 6px;
  h2{ 
    color: #ffffff;
  }
  ul{
    list-style: none;
    margin-block: 0;
    padding: 0 0 1rem 0;

    li{
      margin: 1rem 0;
      cursor: pointer;
    }
      font-size: 2rem;
  }
}
.ContainerMenuComponent,.ContainerMenuComponentOpen{
  position: fixed;
  left: 0;
   top: 0;
}
.ContainerMenuComponent{
  width: 5rem; 
  height: 5rem;
  background: #000000;
  top: 15vh;
  border-radius: 0 .5rem .5rem 0;
 }
 
.ContainerMenuComponentOpen{
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #000000;
  .contenedorMenusMenuComponent{
    height: 70%;
    position: absolute;
    top: 5rem;
    left: 10rem;
    text-align: left;
    width: 100%;
  }
}
/*
Mediasqueries de tamaños del menú
*/
@media (min-width: 1280px){
  .ContainerMenuComponentOpen{
    width: 40vw;
  }
}
@media (max-width: 1280px){
  .ContainerMenuComponentOpen{
    width: 60vw;
  }
}
@media (max-width: 768px){
  .ContainerMenuComponentOpen{
    width: 100vw;
  }
}

.buttonOpenCloseMenuComponent{
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 1rem;
}
.iconOpenCloseMenuComponent {
  position: relative;
  width: 3rem;
  height: 3rem;
  background:transparent;
  transition: 0.5s;
  border-radius: 2.5rem;

}

.iconOpenCloseMenuComponent:before, .iconOpenCloseMenuComponent:after {
  display: block;
  content: "";
  height: 0.4rem;
  width: 3rem;
  left: 1rem;
  background: #fff;
  position: absolute;
  transition: 0.25s 0.25s;
  border-radius: 1rem;
}
.iconOpenCloseMenuComponent:before {
  bottom: 0.625rem;
  transition: .35s;
}
.iconOpenCloseMenuComponent:after{
  top: 0.625rem;
  transition: .35s;
}

.openMenuComponent.iconOpenCloseMenuComponent:after {
  transition: 0.5s;
  top: 50%;
  transform: rotate(45deg);
}
.openMenuComponent.iconOpenCloseMenuComponent:before {
  transition: 0.5s;
  top: 50%;
  transform: rotate(-45deg) !important;
}
.ContainerMenuComponentOpen .buttonOpenCloseMenuComponent{
  top: 16.5vh;
}