.datosConCategoria{
    background-color: rgb(228, 119, 119);
    padding: 1em;
    height: 60px;
    display:flex
    
}
.datosConCategoria{
    background-color:rgb(204, 86, 86);
}
.datosSinCategoria{
    display: flex;
    align-items: center;
    text-decoration-color: color
}


