@import '../../global.scss';

// ---------------------------------------------------------------------------------------------------------
//      estilos generales
// ---------------------------------------------------------------------------------------------------------
.ctnLight_DDC,
.ctnDark_DDC
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    // se aplican estos estilos a la carda cuando no se carga una plantilla
    .noCardTmplt{
        box-shadow: 0 0 20px #dedede;
        height: 100px;
        border-radius: 20px;
        padding: 10px;
        background: #fff;
        p{
            padding-left: 25px;
            padding-top: 5px;
        }
    }
    .boardCtn{
        width: calc(var(--cardWidth)*.95) ;
        height: 85vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .drpblCtn{
            position: relative;
            background: transparent;
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
            // contenedor de cada columna del dragAndDrop
            .ctnIndvlBrd{
                // background: green;
                // box-shadow: inset 0 0 0 5px #000;
                height: calc(85vh - 50px);
                .ctnDrgbl{
                    margin-top: 20px;
                    display:flex;
                    // background: #000;
                    z-index: 1;
                    .icnDrag{
                        width: 30px;
                        height: 30px;
                        // background: red;
                        position: absolute;
                        z-index: 1;
                        border-radius: 10px;
                        top: 25%;
                        transform:translateY(-50%);
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        // cursor: isDragging ? grabbing : grab;
                        cursor: grabbing;
                    }
                    
                }
                
            }
            .ctnTitle{
                display: flex;
            align-items: center;
            justify-content: left;
            z-index: 1;
            height: 30px;
            user-select: none;
            h2
            {
                font-size: clamp(16px, 2.5vw , 20px);
                font-weight: lighter;
                margin-right: 10px;
            }
            img
            {
                height: clamp(16px, 2.5vw , 20px);
            }
            }
        }
    }
}

// ---------------------------------------------------------------------------------------------------------
//      modo claro
// ---------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------
//      modo oscuro
// ---------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------

@media (min-width:768px) and (max-width:1024px){
    .ctnLight_DDC{
        flex-direction: column;
        gap: 0;
        max-height: calc(85vh);
        .boardCtn{
            width: 50vw !important;
            background: green;
            height: 75%;
            .drpblCtn{
                height:calc(85vh / 4);
                max-width: 50vw;
                overflow: hidden;
                display: flex !important;
                flex-direction: column !important;
                flex-wrap: nowrap;
                .ctnIndvlBrd{
                    display: flex;
                    gap: 20px;
                }
                .ctnDrgbl{
                    .ctnAsdRndLight_CC{
                        // background: red
                        height: 80%;
                        .ctnProgressBar_showDtls{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:415px){
    .ctnLight_DDC{
        width: 100vw;
    }
}
