
// ---------------------------------------------------------------------------------------------------------
//      estilos generales
// ---------------------------------------------------------------------------------------------------------
.ctnLight_CTR, .ctnDark_CTR {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .lateIcon{
        position: absolute;
        right: -10px;
        top: 50%;
    }
    .descr{
        // margin-top: 5px;
    }
    .btnShowDtls{
        margin-top: 10px !important;
        text-align: right;
    }
}

// ---------------------------------------------------------------------------------------------------------
//      modo claro
// ---------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------
//      modo oscuro
// ---------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
@media (max-aspect-ratio: 4/3){

}
@media (max-aspect-ratio: 7/10){
}

