
//estilos globales-----------------------------------------------------------------------------------------
@import '../../global.scss';

// ---------------------------------------------------------------------------------------------------------
//      estilos generales
// ---------------------------------------------------------------------------------------------------------
.ctnLight_CTR, .ctnDark_CTR {
    .lateIcon{
        position: absolute;
        right: -10px;
        top: 50%;
    }
    .description{
        span{
            -webkit-line-clamp: 2;
            line-height: 1.3;
            font-size: 14px;
            margin-top: 5px;
        }
    }
    .btnShowDtls{
        position:absolute;
        bottom:5px;
        right: 0;
    }
}

// ---------------------------------------------------------------------------------------------------------
//      modo claro
// ---------------------------------------------------------------------------------------------------------
.ctnLight_CTR{
    .description{
        color: #00000085; 
    }
}

// ---------------------------------------------------------------------------------------------------------
//      modo oscuro
// ---------------------------------------------------------------------------------------------------------
.ctnDark_CTR{
    .description{
        color: #ffffff85; 
    }
}

// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
@media (max-width: 834px){

}
@media (max-width:415px){

}

