@import '../../../../global.scss';

.container{
    width: 100vw;
    height: 90vh;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;
    display: grid;
    &__children{
        grid-column: 2 / 3;
        display: grid;
        &[header-content='header'][footer-content='footer']{
            grid-template-rows: 40px auto 20vh;
            gap: 10px;
        }
        &-header{
           grid-row: 1 / 2;
           display: flex;
           gap: 10px;
           align-items: center;
        }
        &-content{
            grid-row: 2 / 3;
            overflow-y: auto;
        }
        &-footer{
            grid-row: 3 / 4;
        }
    }
    &[aside-content='aside'][chat-content='chat']{
        grid-template-columns: 25vw auto 25vw;
        gap: 10px;
    }
    &[aside-content='aside'][chat-content='noChat']{
        grid-template-columns: 25vw auto ;
        gap: 10px;
    }
    &[aside-content='noAside'][chat-content='noChat']{
        gap: 10px;
        .container__children{
            grid-column: auto;
        }
    }
    &__aside{
        grid-column: 1 / 2;
    }
    &__chat{
        grid-column: 3 / 4;
    }
}

// media queries -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
@media (max-aspect-ratio: 4/3){ // relaci贸n aspecto con dispositivos mayores a m贸viles tales como tablets
    .container{
        &__chat{
        }
        &__children{
            grid-column: 2 / 3;
            display: grid;
        }
        &[aside-content='aside'][chat-content='chat']{
            grid-template-columns: 50vw auto;
            gap: 10px;
        }
        &[aside-content='aside'][chat-content='noChat']{
            grid-template-columns: 25vw auto ;
            gap: 10px;
        }
        &[aside-content='noAside'][chat-content='noChat']{
            gap: 10px;
            .container__children{
                grid-column: auto;
                grid-template-rows: 1fr;
                &-content{
                    grid-row: auto;
                    box-shadow: inset 0 0 2px blue;
                }
            }
        }
        &__aside{
            grid-column: 1 / 2;
        }

    }
}
@media (max-aspect-ratio: 7/10){ // Relaci贸n aspecto de dispositivos m贸viles
    .container{
        &__aside{
            width: 100%;
            height: auto;
            box-shadow: inset 0 0 5px red;
        }
    }
}