.ctn{
    position:fixed;
    width: calc(var(--cardWidth)*4);
    height: calc(var(--cardHeight)*4 - 8vh);
    bottom: 0;
    left: 0;
    display: flex;
    .asideCtn{
        width: var(--cardWidth);
    }

    //header
    .header{
        display: flex;
        height: 7vh;
        align-items: center; 
    }

    // menu
    .menu{
        z-index: 11;
    }

    //contenedor children y footer
    .ctnChildren_Ftr, .ctnChildren_FtrAsd{
        left: 0;
        height: 100%;
        position: relative;
    }
    //con un aside
    .ctnChildren_FtrAsd{
        width: calc(var(--cardWidth)*3);
    }
    //sin aside
    .ctnChildren_Ftr{
        width: calc(100vw *.9);
        margin: 0 auto;
    }

    // contenedor children 
    .children {
        height: 85vh;
        overflow: auto;
    }
    .childrenFtr {
        height: 65vh;
        overflow: auto;
    }
    //conteneor footer
    .footer{
        height: 20vh;
        display: flex;
        align-items: center; 
    }
}


