@import '../../global.scss';
// ---------------------------------------------------------------------------------------------------------
//      Estilos generales 
// ---------------------------------------------------------------------------------------------------------
.ctnLight_CtnC,
.ctnDark_CtnC
{
    position:fixed;
    width: calc(var(--cardWidth)*4);
    height: calc(var(--cardHeight)*4 - 8vh);
    bottom: 0;
    left: 0;
    display: flex;
    // menu
    .menu{
        z-index: 11;
    }
    //Aside
    .asideCtn{
        width: var(--cardWidth);
    }
    // estilos generales del contenedor child
    .ctnChild,      //si no hay aside ni footer
    .ctnChildAsd,   //si hay aside
    .ctnChildFtr,   //si hay footer
    .ctnChildAsdFtr //si hay aside y footer
    {
        left: 0;
        height: 100%;
        position: relative;
        // contenedor header
        .header{
            display: flex;
            height: 7vh;
            align-items: center; 
        }
        //contenedor footer
        .footer{
            height: 20vh;
            display: flex;
            align-items: center; 
        }
    }
    // cuando tiene footer y aside
    .ctnChildAsdFtr{
        width: calc(var(--cardWidth)*3);
    }
    //cuando solo tiene footer
    .ctnChildFtr{
        width: calc(100vw *.9);
        margin: 0 auto;
    }
    // cuando no tiene footer
    .ctnChild,
    .ctnChildAsd {
        .children{
            height: 85vh;
            overflow: auto;
        }
    }
    //cuando tiene footer 
    .ctnChildFtr,
    .ctnChildAsdFtr {
        .children{
            height: 65vh;
            overflow: auto;
        }
    }
}
// ---------------------------------------------------------------------------------------------------------
//      modo claro
// ---------------------------------------------------------------------------------------------------------
.ctnLight_CtnC{
    background: var(--bg);
}

// ---------------------------------------------------------------------------------------------------------
//      modo oscuro
// ---------------------------------------------------------------------------------------------------------
.ctnDark_CtnC{
    background: var(--bgDark);
}
// ---------------------------------------------------------------------------------------------------------
//     mediaQueries
// ---------------------------------------------------------------------------------------------------------
//tablet
@media (max-width:834px){
    // .ctnLight_CtnC,
    // .ctnDark_CtnC{

    // } 
}
//cel
@media (max-width:415px){
    // .ctnLight_CtnC,
    // .ctnDark_CtnC{
        
    // } 
}