@import '../../../../global.scss';

// ---------------------------------------------------------------------------------------------------------
//      estilos generales
// ---------------------------------------------------------------------------------------------------------
.ctn_MdlConfirmation{
    position: fixed !important;
    left: 0;
    top: 0;
    background: none;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    .modalBgFW{ // se le agregan estos estilos para poder hacer clic fuera del modal y cerrarlo
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(5px);
        position: fixed !important;
        overflow: hidden;
        top: 0;
        left: 0;
    }
    .ctnModal{
        width: 50vw;
        height: 50vh;
        border-radius: 20px;
        padding: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        .header{
            height: 25%;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .iconClose{
                cursor: pointer;
                height: 30px;
            }
        }
        .children{
            height: 65%;
            width: 100%;
            .content{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
    }
    }
// ---------------------------------------------------------------------------------------------------------
//      modo claro
// ---------------------------------------------------------------------------------------------------------
    &.Light{
        .ctnModal{
            box-shadow: var(--boxShadow);
            background: var(--bg);
        }
    }
// ---------------------------------------------------------------------------------------------------------
//      modo oscuro
// ---------------------------------------------------------------------------------------------------------
    &.Dark{
        .ctnModal{
            box-shadow: var(--boxShadowDark);
            background: var(--bgDark);
        }
    }
}

// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
@media (max-aspect-ratio: 4/3){ // relación aspecto con dispositivos mayores a móviles tales como tablets
    .ctn_MdlConfirmation
    {
        .ctnModal{
            width: 100vw;
        }
    }    
}
@media (max-aspect-ratio: 7/10){ // Relación aspecto de dispositivos móviles
    .ctn_MdlConfirmation
    {
        .ctnModal{
            width: 100vw;
            height: 50vh;
            transform: translateX(-50%);
        }
    }
}