// ---------------------------------------------------------------------------------------------------------
//      normalize
// ---------------------------------------------------------------------------------------------------------
@import './normalize.scss';
// ---------------------------------------------------------------------------------------------------------
//      fonts
// ---------------------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

// ---------------------------------------------------------------------------------------------------------
//      variables
// ---------------------------------------------------------------------------------------------------------
:root{
  //backgrounds
  --bg : #ffffff;
  --bgDark: #282828;
  --contrastDark: #525252;
  // fuentes
  --fcLight: #282828;
  --fcDark: #dedede;
  // inputs
  --border: inset 0 0 0 2px #dedede;
  --borderDark: inset 0 0 0 calc(2px + 0.390625vw) #525252;
  // contenedores
  --boxShadow: 0 0 calc(10px + 0.390625vw) #dedede75;
  --boxShadowDark: 0 0 calc(10px + 0.390625vw)#00000075;
  // medidas
  --cardWidth: calc(100vw * .25);
  --cardHeight: calc(100vh * .25);
  // colores
  --aqua: #1CB5B2;
  --aquaContrast: #127574;
}

// ---------------------------------------------------------------------------------------------------------
//      snippets de formateo
// ---------------------------------------------------------------------------------------------------------
*, *:before,*:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/// ---------------------------------------------------------------------------------------------------------
//      estilos generales
// ---------------------------------------------------------------------------------------------------------
*{
    font-family: 'Open Sans', sans-serif;
  }
  //Modificación en los estilos del scrollbar
  ::-webkit-scrollbar{
    width: 5px;
    position: absolute;
    background: transparent;
  }
  ::-webkit-scrollbar-track {
    background: transparent ;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    border-radius: 10px;
  }
  // elimina todos los estilos que contiene el button por defecto
  button {
    all: unset;
  }

// ---------------------------------------------------------------------------------------------------------
//      estilos generales del texto
// ---------------------------------------------------------------------------------------------------------
//eliminación de márgenes
  h1, h2,h3,h4,h5,h6,p,button,span,a{ margin-block: 0; }
  a,li,ul{
    text-decoration: none;
    list-style: none;
    font-size: clamp(13px, 1.5vw, 22px);
    color: inherit;
  }
  span{
    font-size: inherit;
  }
  //definición de pesos visuales
  h1, h2,h3,h4,h5,h6{
    font-weight: bold;
  }
  //definición de tamaños en tipografías
  h1{
    font-size: clamp(25px, 3.2vw, 28px);
  }
  h2{ 
    font-size: clamp(20px, 2.2vw, 23px);
  }
  h3{ 
    font-size: clamp(18px, 2vw, 21px);
  }
  h4{  
    font-size: clamp(16px,1.8vw, 19px);
  }
  h5{
    font-size: clamp(14px, 1.6vw, 17px);
  }
  h6, p,span{
    font-size: clamp(13px,1.5vw, 16px);
  }
  .Light{
    h1, h2,h3,h4,h5,h6,p,button,span,a{
      color: var(--bgDark);
    }
  }
  .Dark{
    h1, h2,h3,h4,h5,h6,p,button,span,a{
      color: var(--fcDark);
    }
  }

// ---------------------------------------------------------------------------------------------------------
//      utilidades
// ---------------------------------------------------------------------------------------------------------
  .TextOverflow{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
  }
  .ttlTask{
    font-size: clamp(12px, 2.5vh, 15px);
    font-weight: bold;
  }
  .ContainerCardTeamComponent{
    position: relative;
    margin: 0 auto;
    width: calc(100% - 30px) !important;
    height: calc(100% - 20px) !important;
    margin-top: 10px;
  }
  .centerElement{
    display:grid;
    place-items: center;
    width: 100%;
    height: 100%;
  }

  //arreglo de botones
  .buttonsArray{
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(last-child){
      gap: 20px;
    }
  }

  // contenedor de la progressbar y show details
  .ctnProgressBar_showDtls{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }
  .ctnCircularProgressBar{
    display: none;
  }

// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
// dispositivos de tabletas a inferiores en tamaño
@media (max-width: 1024px){
  .ctnProgressBar_showDtls{
      display: none ;
  }
  .ctnCircularProgressBar{
      display: flex !important;
      align-items: center;
      width:calc(100% - 10px) !important;
      justify-content: space-between;
      gap: 20px;
      div{
          display: flex;
          gap: 20px;
          align-items: center;
          &:first-of-type{
              gap: 5px;
          }
      }
  }
}
@media (min-height:650px){
  .TextOverflow{
    -webkit-line-clamp: 2;
  }
  .ctnCircularProgressBar{
    bottom: -10px;
  }
}
@media (max-height:649px){
  .TextOverflow{
    -webkit-line-clamp: 1 !important;
  }
}