/** anotaciones
* z-index:
    elementos X (poca relevanacia) 1
    elementos que se sobrepongan ejemplos (dropdowns) 4
    Modales 3
    menu 5
*/



// ---------------------------------------------------------------------------------------------------------
//      normalize
// ---------------------------------------------------------------------------------------------------------
@import './normalize.scss';
// ---------------------------------------------------------------------------------------------------------
//      fonts
// ---------------------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

// ---------------------------------------------------------------------------------------------------------
//      variables
// ---------------------------------------------------------------------------------------------------------
:root{
  --detailColor: #0095c6;
  --detail: #f1e323;
  //fonts Colors
  --fc100: #2c2926;
  --fc90: #343232;  
  --fc60: #54514f; 
  --fc30: #bdbaba;
  // font weights
  --fw700: 700;
  --fw400: 400;
  --fw300: 300;
  //backgrounds
  --bg : #ffffff;
  --contrastDark: #525252;
  // inputs
  --border: inset 0 0 0 .5px var(--fc30),
            0 0 5px var(--fc30);

  // contenedores
  --boxShadow: 0 0 10px #bdbaba50;
  // medidas
  --cardWidth: calc(100vw * .25);
  --cardHeight: calc(100vh * .25);
  // colores
  --aqua: #1CB5B2;
  --aquaContrast: #127574;
}
[theme-config='Dark']{
  --fc100: #d3d3d3;
  --fc90: #bdbaba; 
  --fc60: #8d8989; 
  --fc30: #656262;
  --bg: #282828; 
  --border: inset 0 0 0 .5px var(--fc30),
          0 0 5px var(--fc30);
  // --border: inset 0 0 0 2px #dedede;
  --boxShadow: 0 0 10px #00000050;

}

// ---------------------------------------------------------------------------------------------------------
//      snippets de formateo
// ---------------------------------------------------------------------------------------------------------
*, *:before,*:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/// ---------------------------------------------------------------------------------------------------------
//      estilos generales
// ---------------------------------------------------------------------------------------------------------
*{
    font-family: 'Open Sans', sans-serif;
  }
  //Modificación en los estilos del scrollbar
  ::-webkit-scrollbar{
    width: 5px;
    position: absolute;
    background: transparent;
  }
  ::-webkit-scrollbar-track {
    background: transparent ;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    border-radius: 10px;
  }
  // elimina todos los estilos que contiene el button por defecto
  button {
    all: unset;
  }

// ---------------------------------------------------------------------------------------------------------
//      estilos generales del texto
// ---------------------------------------------------------------------------------------------------------
//eliminación de márgenes
  h1, h2,h3,h4,h5,h6,p,button,span,a{ margin-block: 0; }
  a,li,ul{
    text-decoration: none;
    list-style: none;
    // font-size: clamp(13px, 1.5vw, 22px);
    color: inherit;
  }
  span{
    font-size: inherit;
  }
  //definición de pesos visuales
  h1, h2,h3,h4,h5,h6{
    font-weight: bold;
  }
  //definición de tamaños en tipografías
  h1{ font-size: clamp(25px, 2.8vw, 30px); }
  h2{ font-size: clamp(18px, 2vw, 23px); }
  h3{ font-size: clamp(16px, 1.8vw, 21px); }
  h4{ font-size: clamp(14px, 1.6vw, 19px); }
  h5,p,li,ul,span,button,textarea,input{ font-size: clamp(12px, 1.4vw, 17px); }

// ---------------------------------------------------------------------------------------------------------
//      utilidades
// ---------------------------------------------------------------------------------------------------------
  .TextOverflow{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
  }
  .ttlTask{
    font-size: clamp(12px, 2.5vh, 15px);
    font-weight: bold;
  }
  .ContainerCardTeamComponent{
    position: relative;
    margin: 0 auto;
    width: calc(100% - 30px) !important;
    height: calc(100% - 20px) !important;
    margin-top: 10px;
  }
  .centerElement{
    display:grid;
    place-items: center;
    width: 100%;
    height: 100%;
  }

  //arreglo de botones
  .buttonsArray{
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(last-child){
      gap: 20px;
    }
  }

  // contenedor de la progressbar y show details
  .ctnProgressBar_showDtls{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }
  .ctnCircularProgressBar{
    display: none;
  }

// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
// dispositivos de tabletas a inferiores en tamaño
@media (max-width: 1024px){
  .ctnProgressBar_showDtls{
      display: none ;
  }
  .ctnCircularProgressBar{
      display: flex !important;
      align-items: center;
      width:calc(100% - 10px) !important;
      justify-content: space-between;
      gap: 20px;
      div{
          display: flex;
          gap: 20px;
          align-items: center;
          &:first-of-type{
              gap: 5px;
          }
      }
  }
}
@media (min-height:650px){
  .TextOverflow{
    -webkit-line-clamp: 2;
  }
  .ctnCircularProgressBar{
    bottom: -10px;
  }
}
@media (max-height:649px){
  .TextOverflow{
    -webkit-line-clamp: 1 !important;
  }
}
