@import '../../global.scss';

// ---------------------------------------------------------------------------------------------------------
//      estilos generales
// ---------------------------------------------------------------------------------------------------------
.ctnOtOfTmLight_PBC,
.ctnOtOfTmDark_PBC,
.ctnOnTmLight_PBC,
.ctnOnTmDark_PBC,
.ctnDldDark_PBC,
.ctnDldLight_PBC,
.ctnLight_PBC,
.ctnDark_PBC
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    position: relative;
    // contebnedor de la barra de progreso
    .ctnBarra{
        height: 20px;
		border-radius: 100px;
        box-shadow: inset 0 0 0 3px #282828;
        .progressBar{
            background: #282828;
            width: 100%;
            height: inherit;
            border-radius: 100px;
        }
    }
    // texto que muestra el porcentaje
    .txtPrcnt{
		font-size: 20px;
		color: #282828;
		font-family: 'Open Sans', sans-serif !important;
		font-weight: lighter;
		justify-content: right;
    }
}
// estilos de barra de progreso OutOfTime
.ctnOtOfTmLight_PBC,
.ctnOtOfTmDark_PBC{
    .ctnBarra{
        box-shadow: inset 0 0 0 3px #FC3D38;
        .progressBar{
            background: #FC3D38;
        }
    }
    .txtPrcnt{
        color: #FC3D38;
    }
}
// estilos de barra de progreso OnTime
.ctnOnTmLight_PBC,
.ctnOnTmDark_PBC{
    .ctnBarra{
        box-shadow: inset 0 0 0 3px #1CBF59;
        .progressBar{
            background: #1CBF59;
        }
    }
}
// estilos de barra de progreso Delayed
.ctnDldDark_PBC,
.ctnDldLight_PBC{
    .ctnBarra{
        box-shadow: inset 0 0 0 3px #FCB24F;
        .progressBar{
            background: #FCB24F;
        }
    }
}

// ---------------------------------------------------------------------------------------------------------
//      modo claro
// ---------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------
//      modo oscuro
// ---------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
@media (min-width:768px) and (max-width:1024px){
    .ctnOtOfTmLight_PBC,
    .ctnOtOfTmDark_PBC,
    .ctnOnTmLight_PBC,
    .ctnOnTmDark_PBC,
    .ctnDldDark_PBC,
    .ctnDldLight_PBC,
    .ctnLight_PBC,
    .ctnDark_PBC{} 
}
@media (max-width:767px){
    .ctnOtOfTmLight_PBC,
    .ctnOtOfTmDark_PBC,
    .ctnOnTmLight_PBC,
    .ctnOnTmDark_PBC,
    .ctnDldDark_PBC,
    .ctnDldLight_PBC,
    .ctnLight_PBC,
    .ctnDark_PBC{}
}