.progressBar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    position: relative;
    // contebnedor de la barra de progreso
    &__barra{
        position: relative;
        height: 30px;
        min-height: 20px;
		border-radius: 0 5px 5px 0;
        // box-shadow: inset 0 0 0 3px #282828;
        background: var(--detailColorContrast);
        &-avance{
            // background: #282828;
            background: var(--detailColor);
            width: 100%;
            height: inherit;
            border-radius: 0 5px 5px 0;
        }
    }
    &[stts-tsk='outOfTime'],&[stts-tsk='3']{
        .progressBar__barra{
            &:before{
                content:'';
                position: absolute;
                z-index: 1;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 40px solid #FC3D38;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:after{
                content: "!";
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                font-size: 20px;
                color: #fff;
                font-weight: 700;
            }
        }
        .txtPrcnt{
            color: #FC3D38;
        }
    }
    &[stts-tsk='onTime'],&[stts-tsk='1']{
        .progressBar__barra{
            // box-shadow: inset 0 0 0 3px #1CBF59;
            &-avance{
                // background: #1CBF59;
            }
        }
    }
    &[stts-tsk='delayed'], &[stts-tsk='2']{
        .progressBar__barra{
            &:before{
                content:'';
                position: absolute;
                z-index: 1;
                background:  #f8b03d;
                width: 30px;
                height: 30px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg) ;
                border-radius: 5px;
            }
            &:after{
                content: "!" ;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                font-size: 20px;
                color: #fff;
                font-weight: 700;
            }
            // box-shadow: inset 0 0 0 3px #FCB24F;
            &-avance{
                // background: #FCB24F;a
            }
        }
    }
}

// ---------------------------------------------------------------------------------------------------------
//      modo claro
// ---------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------
//      modo oscuro
// ---------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
@media (min-width:768px) and (max-width:1024px){
    .ctnOtOfTmLight_PBC,
    .ctnOtOfTmDark_PBC,
    .ctnOnTmLight_PBC,
    .ctnOnTmDark_PBC,
    .ctnDldDark_PBC,
    .ctnDldLight_PBC,
    .ctnLight_PBC,
    .ctnDark_PBC{} 
}
@media (max-width:767px){
    .ctnOtOfTmLight_PBC,
    .ctnOtOfTmDark_PBC,
    .ctnOnTmLight_PBC,
    .ctnOnTmDark_PBC,
    .ctnDldDark_PBC,
    .ctnDldLight_PBC,
    .ctnLight_PBC,
    .ctnDark_PBC{}
}