
.progressBar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    position: relative;
    &__barra{
        position: relative;
        height: 30px;
        min-height: 20px;
		border-radius: 0 5px 5px 0;
        background: var(--detailColorContrast);
        &-avance{
            background: var(--detailColor);
            width: 100%;
            height: inherit;
            border-radius: 0 5px 5px 0;
        }
    }
    &[stts-tsk='outOfTime'],&[stts-tsk='3']{
        .progressBar__barra{
            background: #da343080;
            &-avance{
            background: #da3430;
            }
            &:before{
                content:'';
                position: absolute;
                z-index: 1;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 40px solid var(--errorColor);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:after{
                content: "!";
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                font-size: 20px;
                color: #fff;
                font-weight: 700;
            }
        }
        .progressBar__text{
            color: var(--errorColor) !important;
        }
        .progressBar__icon{
            width: calc(100% - 50px);
            position: absolute !important;
            &:before{   
                content:'';
                position: absolute;
                z-index: 1;
                border-left: 26px solid transparent;
                border-right: 26px solid transparent;
                border-bottom: 46px solid var(--bg);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            } 
        }
    }
    &[stts-tsk='onTime'],&[stts-tsk='1']{
        .progressBar__text{
            color: var(--detailColor) !important;
        }
    }
    &[stts-tsk='delayed'], &[stts-tsk='2']{
        .progressBar__barra{
            background: #f8b03d80;
            &-avance{
                background: #f8b03d;
            }
            &:before{
                content:'';
                position: absolute;
                z-index: 1;
                background:  var(--warningColor);
                width: 30px;
                height: 30px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg) ;
                border-radius: 5px;
            }
            &:after{
                content: "!" ;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                font-size: 20px;
                color: #fff;
                font-weight: 700;
            }
        }
        .progressBar__icon{
            width: calc(100% - 50px);
            position: absolute !important;
            &:before{   
                 content:'';
                position: absolute;
                background:  var(--bg);
                width: 35px;
                height: 35px;
                top: 50%;
                z-index: 1;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg)  ;
                border-radius: 5px;
            } 
        }
        .progressBar__text{
            color: var(--warningColor) !important;
        }
    }
}