
:root{
    --colorPaloma: var(--fc100);
}
[theme-config='Light']{
    --colorPaloma: #fff;
}

.timeline
{
    height: 100% !important;
    overflow-y: auto !important;
    *{
        user-select: none;
    }
    &__contenido{
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 20px;
        z-index: 1;
        &-line{
            width: 2px;
            height: calc(100% - 30px) ;
            // background: var(--fc90);
            background: var(--detail);
            position: absolute !important;
            left: 8px;
            z-index: -1;
            margin-top: 10px;
        }
        &-contenedorTasks{
            display: flex;
            gap: 20px;
            align-items: start;
            &-circle,&-circle.complete{
                width: 20px;
                height: 20px;
                border-radius: 20px;
                display: grid;
                place-items: center;
            }
            &-circle{
                // background: #fff;
                background: var(--bg);
                // box-shadow: inset 0 0 0 2px var(--fc90);
                box-shadow: inset 0 0 0 2px var(--detail);
                &:before{
                    color: #282828 ;
                }
            }
            &-circle.complete{
                // background: var(--fc90);
                // background: var(--fc30);
                background: var(--detail);
                box-shadow: none;
                &:before{
                    content: "✔";
                    position: absolute;
                    font-size: 15px;
                    // color: #dedede;
                    // color: var(--fc30);
                    color: var(--colorPaloma);
                }
            }
            &-duration{
                display: flex;
                flex-direction: column;
                
                &-duration{
                    opacity: .7;
                    font-size: 14px;
                }
                &-name{
                    color: var(--fc90) !important;
                }
            }
        }
    }

    
} 
// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
