@import '../../global.scss';
// ---------------------------------------------------------------------------------------------------------
//      estilos generales
// ---------------------------------------------------------------------------------------------------------
.timeline
{
    height: 100% !important;
    overflow-y: auto !important;
    *{
        user-select: none;
    }
    &__contenido{
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 20px;
        &-line{
            width: 2px;
            height: calc(100% - 30px) ;
            background: #525252;
            position: absolute !important;
            left: 8px;
            z-index: -1;
            margin-top: 10px;
        }
        &-contenedorTasks{
            display: flex;
            gap: 20px;
            align-items: start;
            &-circle,&-circle.complete{
                width: 20px;
                height: 20px;
                border-radius: 20px;
                display: grid;
                place-items: center;
            }
            &-circle{
                background: #fff;
                box-shadow: inset 0 0 0 2px #282828;
                &:before{
                    color: #282828;
                }
            }
            &-circle.complete{
                background: #282828;
                box-shadow: none;
                &:before{
                    content: "✔";
                    position: absolute;
                    font-size: 15px;
                    color: #dedede;
                }
            }
            &-duration{
                display: flex;
                flex-direction: column;
                &-duration{
                    opacity: .7;
                    font-size: 14px;
                }
            }
        }
    }

    
} 
// ---------------------------------------------------------------------------------------------------------
//      media queries
// ---------------------------------------------------------------------------------------------------------
