
:root{
    --fontSize: clamp(12px 1.3vh 17px);
    --background: #dedede;
    --border: none ;
    --hover: #525252;
    --fcHover: #fff ;
    --fontColor: var(--fc90);
    --sizeIcon: clamp(12px 1.3vh 17px);
    // para clamp de fuentes
    --fontSizeMin: 16px;
    --fontSizePref: 1.7vh;
    --fontSizeMax: 21px;
    --sizeButton: 100%;
    --display: block;
    --paddingIcon: 0;
    --borderRadius:5px;
    --successSize: 17px;
    --fontSizeSuccess: 10px;
}

// tamaños
[size-button='small']{
    --fontSizeMin: 12px;
    --fontSizePref: 1.3vh;
    --fontSizeMax: 17px;
    --sizeIcon: 18px;
    --sizeButton: 30px;
    --successSize: 20px;
    --fontSizeSuccess: 10px;

}
[size-button='medium']{
    --fontSizeMin: 14px;
    --fontSizePref: 1.5vh;
    --fontSizeMax: 19px;
    --sizeIcon: 20px;
    --sizeButton: 40px;
    --successSize: 25px;
    --fontSizeSuccess: 12px;
}
[size-button='large']{
    --fontSizeMin: 16px;
    --fontSizePref: 1.7vh;
    --fontSizeMax: 21px;
    --sizeIcon: 25px;
    --sizeButton: 50px;
    --successSize: 30px;
    --fontSizeSuccess: 14px;

}
// colores
[style-button='primary']{
    --background:#126EFA;
    --hover:#126EFA;
    --border: none !important;
    --fontColor: #fff;
}
[style-button='secondary']{
    --background:transparent;
    --hover:#FC3D38;
    --border: inset 0 0 0 2px #FC3D38;
    --fontColor: #FC3D38;
}
[style-button='tertiary']{
    --background:transparent;
    --hover:#7BAFFF;
    --fontColor:#7BAFFF;
    --border: none;
}
// flotantes 
[float-button='float'],[size-button='small']{
    --display: none;
}
[float-button='float'],[size-button='medium']{
    --display: none;
}
[float-button='float'],[size-button='large']{
    --display: none;
}
// tamaños de los íconos con la propiedad de float
[float-button='float'][size-button='small']{
    --sizeIcon: 28px;
}
[float-button='float'][size-button='medium']{
    --sizeIcon: 30px;
}
[float-button='float'][size-button='large']{
    --sizeIcon: 35px;
}
[float-button='noFloat']{
    --sizeButton: auto;
    --display: block;
    --paddingIcon: 10px;
}
// de bordes
[border-button='border']{
    --background: transparent;
    --border: inset 0 0 0 2px #000 !important;
}
[border-button='border'][style-button='primary']{
    --border: inset 0 0 0 2px #126EFA !important;
    --fontColor: #126EFA;
}
[border-button='border'][style-button='secondary']{
    --border: inset 0 0 0 2px #FC3D38 !important;
}
[border-button='border'][style-button='tertiary']{
    --border: inset 0 0 0 2px #7BAFFF !important;
}
// estilos de redondeado
[rounded-button='rounded']{
    --borderRadius: 50px ;
}
[disabled-button='disabled']{
    --background: gray;
    --hover: gray;
}

$padding: 5px 10px;

.boton[success-color='successColor']{
    background: var(--successColor);
    .boton__contenido{
        &-number{
                background: var(--successColor) !important;
        }
    }
}
// jeraquias (primary, secondary, tertiary) ----------------------
.boton
{
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    background: var(--background);

    box-shadow: var(--border) !important;
    // border: none !important;
    width: var(--sizeButton) !important;
    height: var(--sizeButton) !important;
    border-radius: var(--borderRadius);
    &__number{
        position: absolute;
        right:-20%;
        top: -20%;
        width: var(--successSize);
        height: var(--successSize);
        border-radius: 100%;
        // background: var(--background);
        background: inherit;
        border: 3px solid var(--bg);
        font-size: var(--fontSizeSuccess);
        &::before{
            content: attr(value-success);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            color: #fff;
        }
    }
    &__contenido{
        display: flex;
        align-items: center;
        justify-content: center;
        
        // border: none;
        &-legend{
            display: var(--display);
            color: var(--fontColor) !important;
            font-size: clamp(var(--fontSizeMin), var(--fontSizePref), var(--fontSizeMax)) !important;
            padding: $padding;
            &:hover{
                color: var(--fcHover) !important;
            }
        }
        &-icon{
            height: var(--sizeIcon);
            padding-left: var(--paddingIcon);
        }
    }
    &:hover{
        background: var(--hover) ;
    }
}